{% extends "layouts/main.html" %}
{% load static %}
{% load component_tags %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<script src="{% static 'js/script.js' %}"></script>
{{ component_media }}
{% endblock %}
{% block content %}
<section class="form-main-container" style="display: flex;width:100%;">
    {% component 'sidebar' %}{% endcomponent %}
    <div class="form-container user">
        <div class="forms-container" style="width: 97%;
        margin:0px 10px;padding:20px;
            height:94vh;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: 10px 20px 30px #3F27684D;
            border: 1px solid #D4CDE1;
            border-radius: 30px;">
            <div class="alertMessage" style="display:none;">
                <h4 class="messageHeader"></h4>
                <p class="messageBody"></p>
            </div>
            <div style="width:1000px;margin:10px 20px;">
                <h2>Add User</h2>
                <!-- alert message display -->
                <form id="add-user-form" style="width:100%;">
                    {% csrf_token %}
                    <div class="grid-container">
                        <!-- Left Column -->
                        <div class="form-group">
                            <label for="username">User Name*</label>
                            <input type="text" id="username" name="username" placeholder="Enter Name" required />
                        </div>
                        <div class="form-group">
                            <label for="email">Email ID*</label>
                            <input type="email" id="email" name="email" placeholder="Enter Email" required />
                        </div>
                        <div class="form-group">
                            <label for="mobile">Mobile Number*</label>
                            <input type="text" id="mobile" name="mobile" placeholder="Enter Mobile Number"
                                maxlength="10" required />
                        </div>
                        <div class="form-group">
                            <label for="employee_id">Employee ID*</label>
                            <input type="text" id="employee_id" name="employee_id" placeholder="Enter ID" required />
                        </div>
                        <div class="form-group">
                            <label for="team">Team</label>
                            <select id="team" name="team" required>
                                <option value="">Select</option>
                                <option value="React-1">React-1</option>
                                <option value="React-2">React-2</option>
                                <option value="React-3">React-3</option>
                                <option value="Artificial Intelligence">Artificial Intelligence</option>
                                <option value="Embedded">Embedded</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="team_lead">Team Lead</label>
                            <select id="team_lead" name="team_lead" required>
                                <option value="">Select</option>
                                <option value="Ramesh">Ramesh</option>
                                <option value="Naveen">Naveen</option>
                                <option value="Keshavan">Keshavan</option>
                                <option value="Thamarai">Thamarai</option>
                                <option value="Guru">Guru</option>
                            </select>
                        </div>

                        <div class="form-group radio-group">
                            <div>
                                <label>Is Active*</label>
                                <div style="display: flex; align-items: center;">
                                    <input type="radio" name="is_active" id="is_active_yes" value="Yes" checked
                                        style="margin:0px 5px">Yes
                                    <input type="radio" name="is_active" id="is_active_no" value="No"
                                        style="margin:0px 10px"> No
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="remarks">Remarks*</label>
                            <input type="text" id="remarks" name="remarks" placeholder="Remarks..." />
                        </div>

                        <div class="form-group radio-group">
                            <div>
                                <label>Is Account Locked*</label>
                                <div style="display: flex; align-items: center;">
                                    <input type="radio" name="is_locked" id="is_locked_yes" value="Yes"
                                        style="margin:0px 5px"> Yes
                                    <input type="radio" name="is_locked" id="is_locked_no" value="No" checked
                                        style="margin:0px 10px"> No
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="remarks_locked">Remarks</label>
                            <input type="text" id="remarks_locked" name="remarks_locked" placeholder="Remarks..." />
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="button-group">
                        <button type="button" class="cancel-btn">Cancel</button>
                        <button type="submit" class="save-btn">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
{%endblock%}

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .main-div {
        margin: 0;
        padding: 0;
        width: 100%
    }

    .sidebar {
        width: 15%;
        height: 100vh;
        background: #3F2768 0% 0% no-repeat padding-box;
        text-align: center;
    }

    .time-log,
    .create-team,
    .logout {
        width: 100%;
        height: 80px;
        align-content: center;
        font: normal normal normal 18px/26px Source Sans Pro;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        cursor: pointer;
    }

    .menu-items:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
</style>

<body>
    <section class="main-div">
        <div class="sidebar">
            <div class="menu">
                <div class="time-log menu-items">
                    Time Log
                </div>
                <div class="create-team menu-items">
                    Create team
                </div>
                <div class="logout menu-items">
                    Logout
                </div>
            </div>
        </div>
        <div class="content-page" style="width: 70%;">
        </div>
    </section>
</body>

</html> -->