{%load static%}
<div class="sidebar">
    <img src="{% static 'images/knoweledgeq.png' %}" alt="knowledgeQ" style="margin:40px 0px;" draggable="false">

    <h3 style="color:white;font: normal normal normal 21px/26px sans-serif;letter-spacing: 1;">Kq Time Log</h3>
    <div class="menu" style="margin-top:90px;">
        <div class="time-log menu-items">
            <img src="{% static 'images/dashboard.svg'%}" alt="dashboard">
            <p>
            Time Log</p>
        </div>
        <div class="create-team menu-items">
            <img src="{%static 'images/blueprint.svg'%}" alt="blueprint">
            <p>
            Create team</p>
        </div>
        <div class="logout menu-items">
            <img src="{%static 'images/logout.svg'%}" alt="logout">
            <p>
            Logout</p>
        </div>
    </div>
</div>